<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <%- include('/social', {...social}) %>

        <link rel="apple-touch-icon" sizes="180x180" href="./src/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./src/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./src/assets/images/favicons/favicon-16x16.png">

        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#dfff80">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#001500">

        <link rel="preload" href="./src/assets/fonts/DrukCyr/DrukCyr-Heavy.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="./src/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="./src/assets/fonts/DrukCyr/DrukCyr-HeavyItalic.woff2" crossorigin as="font" type="font/woff2">
        <link rel="preload" href="./src/assets/fonts/DrukCyr/DrukCyr-Bold.woff2" crossorigin as="font" type="font/woff2">

        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
    </head>
    <body class="preload">

        <main>
            <%- include('/ticker', {items: ['.NET Developer', 'React.js Developer', 'WEB Developer', 'Fullstack Developer'], classes: {container: 'home__ticker'}}) %>

            <section class="home">
                <div class="home__header">
                    <div class="logo">
                        <svg width="41" height="22" viewBox="0 0 41 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11511 0H0V22H9.41865C11.7353 22 13.6135 21.4417 14.9689 20.245C16.3109 19.0604 16.9857 17.5421 16.9857 15.7341C16.9857 14.353 16.5462 13.1296 15.6675 12.0899C15.1464 11.4614 14.5379 10.9708 13.8461 10.621C14.3667 10.3199 14.8372 9.94043 15.2555 9.48337C16.1023 8.56042 16.5001 7.3587 16.5001 5.93835C16.5001 4.2081 15.8437 2.76639 14.5387 1.66099C13.2401 0.523516 11.4008 0 9.11511 0ZM5.0567 8.75368V4.22466H8.47768C9.55547 4.22466 10.2454 4.46721 10.6608 4.8456L10.6688 4.85283L10.677 4.85978C11.1142 5.22951 11.3523 5.74293 11.3523 6.47429C11.3523 7.25465 11.1081 7.78379 10.677 8.14834C10.2329 8.52389 9.54875 8.75368 8.53839 8.75368H5.0567ZM5.0567 17.7456V12.7699H8.75086C9.78788 12.7699 10.541 13.023 11.0751 13.4675C11.5929 13.8985 11.8683 14.4911 11.8683 15.3173C11.8683 16.1255 11.6019 16.6963 11.1073 17.106C10.6213 17.5055 9.88335 17.7456 8.81157 17.7456H5.0567Z" fill="white"/>
                            <path d="M19.7679 0C18.7165 0 17.8643 0.842412 17.8643 1.88158C17.8643 2.92075 18.7165 3.76316 19.7679 3.76316C20.8192 3.76316 21.6714 2.92075 21.6714 1.88158C21.6714 0.842412 20.8192 0 19.7679 0Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.3381 0H23.7214V22H29.3381C31.9298 22 34.11 21.5635 35.8452 20.652L35.8475 20.6508C37.5918 19.725 38.8953 18.4299 39.7347 16.7676C40.5851 15.1044 41 13.1762 41 11C41 8.82501 40.5855 6.90616 39.7345 5.26173C38.8957 3.58101 37.5924 2.28497 35.8464 1.37836C34.1104 0.446364 31.9296 0 29.3381 0ZM28.842 17.5669V4.40331H29.153C30.9101 4.40331 32.2285 4.68432 33.1572 5.19399C34.0937 5.70785 34.7526 6.4331 35.1533 7.38205C35.5688 8.36644 35.7868 9.56715 35.7868 11C35.7868 12.453 35.5687 13.6628 35.154 14.6461C34.755 15.5726 34.0979 16.2888 33.161 16.8039C32.2303 17.2959 30.9101 17.5669 29.153 17.5669H28.842Z" fill="white"/>
                            <path d="M19.7679 18.2368C18.7165 18.2368 17.8643 19.0793 17.8643 20.1184C17.8643 21.1576 18.7165 22 19.7679 22C20.8192 22 21.6714 21.1576 21.6714 20.1184C21.6714 19.0793 20.8192 18.2368 19.7679 18.2368Z" fill="white"/>
                            </svg>

                    </div>

                    <div class="email">
                        <!--  target="_blank" -->
                        <a target="_blank" href="mailto:<%= email %>"><span><%= email %></span></a>
                    </div>
                </div>
                <h1 class="home__title">
                    <span>
                        <span>
                            I create <span class="set-text"><i>websites </i><i>services </i></span>
                        </span>
                    </span>
                    <span>
                        <span> with great  </span>
                    </span>
                    <span>
                        <span> user experience </span>
                    </span>
                </h1>
                <div class="home__about">
                    <p>
                        My name is Bohdan. I help businesses and startups to create any digital products
                    </p>
                </div>
                <div class="home__button">
                    <div  class="stroke-hover">
                        <button class="arrow-pointer" id="home__scroll-down" aria-label="Scroll down"></button>
                    </div>
                </div>
            </section>

            <%- include('/ticker', {items: ['about me'], classes: {container: 'about__ticker'}}) %>
            <section class="about">
                <div class="about__hello about__text">
                    <p>
                        HELLO! I am Bohdan Denysenko. Fullstack developer <br>from Ukraine.
                    </p>
                </div>
                <div class="about__currently about__text">
                    <p>
                        I am currently studying at the Khmelnytsky National University and have several educational projects under my belt.
                    </p>
                </div>
                <div class="about__hobbies about__text">
                    <p>
                        I am an enthusiastic and motivated computer science student who is passionate about learning and developing my skills in programming. I am a fast learner, with a strong sense of responsibility and eager to take on new challenges.
                    </p>
                </div>
            </section>

            <%
                var characteristics__keys = Object.keys(characteristics);
            %>
            <%- include('/ticker', {items: characteristics__keys, classes: {container: 'characteristics__ticker'}}) %>
            <section class="characteristics">
                <% characteristics__keys.forEach((key) => { %>
                    <div class="characteristics__<%= key %> characteristics__key">
                        <div class="arrow-pointer arrow-pointer__right"></div>
                        <h2><span><%= key %></span></h2>
                        <ul>
                            <% characteristics[key].forEach((item) => { %>
                                <li>
                                    <span><%= item %></span>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% }) %>
            </section>
            <%- include('/ticker', {items: ['My works'], classes: {container: 'my-works__ticker'}}) %>
            <section class="my-works">

            </section>
            <%- include('/ticker', {items: ['More work'], classes: {container: 'more-works__ticker'}}) %>
            <section class="more-works">
                <%- include('/more-works__item', {title: "Github", href: links.github, count: 3}) %>
            </section>
        </main>
        <footer>
            <p>
                <span>
                    <span>
                        Want to learn more?
                    </span>
                </span>
                <span>
                    <span>Get in touch with me at</span>
                </span>
                <a target="_blank" class="stroke-hover" href="mailto:<%= email %>" aria-label="My email">
                    <span class="arrow-pointer arrow-pointer__black arrow-pointer__45"></span>
                    <i class="stroke-hover-ch__black"><%= email %></i>
                </a>
            </p>
        </footer>

        <script type="module" src="./src/index.js"></script>
    </body>
</html>
